.main {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px 0;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.title {
  margin: 0;
}
