.container {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.label {
  font-size: 1.325rem;
}

.input {
  padding: 5px;
  font-size: 1.25rem;
  border-radius: 6px;
  border: 1px solid gray;
}

.errorTitle {
  color: red;
}