.container {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.label {
  font-size: 1.325rem;
  font-weight: 600;
}

.input {
  padding: 0 8px;
  font-size: 1.25rem;
  border-radius: 8px;
  height: 40px;
  border: 1px solid #a8a8a8;
}

.input:focus {
  outline: 1.5px solid #186ade;
}

.errorTitle {
  color: red;
}
