.container {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.label {
  font-size: 1.325rem;
  font-weight: 600;
}

.select {
  padding: 0 8px;
  border-radius: 8px;
  font-size: 1.25rem;
  height: 40px;
  background-color: #fff;
}

.select:focus {
  outline: 1.5px solid #186ade;
}
